# OS
*.DS_Store
Thumbs.db

# Logs & temp
*.log
*.tmp

# Dependencies
node_modules/
vendor/
.venv/

# Build outputs
dist/
build/
target/

# Python
__pycache__/
*.pyc
.mypy_cache/
.pytest_cache/

# IDEs
.vscode/
.idea/
*.iml

# Secrets
.env
*.pem
*.key
