/* Make sure body scrolls with the image */
 .yuji-boku-regular {
    font-family: "Yuji Boku", serif;
    font-weight: 400;
    font-style: normal;
  }
  i{
    font-size: 25px;
  }

.quattrocento-regular {
  font-family: "Quattrocento", serif;
  font-weight: 400;
  font-style: normal;
}
  
 html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: white;
  }
  
  /* Set long background image */
  body {
    margin:0;
    padding:0;
    background-image: url(pictures/img_back.jpeg);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  
  /* Container to position text absolutely on top */
  #first-section{
    display: flex;
    flex-direction: row;
    margin-bottom: 20vh;
  }
  #first-section > img{
    width: 42%;
    align-self: flex-end;
  }
  #first-section > div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 58%;
    color: white;
    padding-left: 10%;
  }
  #profile{
    filter: drop-shadow(-100px -10px 150px rgba(0,0,0,1));
  }
  #name{
    display: flex;
    line-height: 1; 
    flex-direction: row;
    align-items: first baseline;
    justify-content: center;
    width: 58%;
    color: white;
    padding-left: 10%;
  }
  h1 {
    font-size: 9rem;      
    margin: 0;  
    text-align: right; 
    margin-right: 10%;  
  }
  h2 {
    font-size: 7rem;      
    margin: 0;  
    text-align: right; 
  }

  #description{
    display: flex;
    width: 60vw;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #E7F59E40;
    align-self:last baseline;
    margin-bottom: 5%;
    color: white;
  }
  
  .scrolly-container {
    display:flex;
    flex-direction: column;
    position: relative;
  }
  
  .scrolly-text {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    padding: 0rem;
    background: rgba(20, 0, 0, 0.5); /*tint*/
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease, transform 0.8s ease;
    position: sticky;
    top: 0;
  }
  
  .scrolly-text.visible {
    opacity: 1;
    transform: translateY(0);
  }

  .sticky-parent {
    height: 600vh;
    width: 100vw;
  }
  
  .sticky {
    position: sticky;
    top: 0;
    max-height: 100vh;
    overflow-x: auto; /* <-- changed here */
    overflow-y: hidden;
    white-space: nowrap; /* prevent wrapping */
    width: 100vw; /* fix width for consistent scroll area */
    background:
    linear-gradient(rgba(20,0, 0, 0.5),rgba(20,0, 0, 0.5)),  url(pictures/img_back.jpeg);
    background-position: bottom;
    background-size:cover;
    opacity: 1;
    transition: background-image 8s ease-in, background-image 0.8s ease-out,;
    
  }
  
  .horizontal {
    display: flex;
  }
  .sticky::-webkit-scrollbar {
    display: none; /* Hide the scrollbar */
  }
  
  .dim {
    display: inline-block; /* inline-block so it respects white-space nowrap */
    min-width: 50vw;
    height: 50vh;
    margin-right: 20px;
    color: white;
    align-content: center;
    text-align: center;
    font-size: 3rem;
    text-decoration: none;
    /* optionally add margin or border to see separate blocks */
  }
  .bordered{
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to right, #a28834, #d7cba3) 1;
  }
  
  .horizontal{
    display: flex;
    padding: 25vh;
    padding-left: 0;
  }


   
/* Header  */
 .portfolio-header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 2rem;
    background: rgba(20,0, 0, 0.5); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: sans-serif;
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  .logo {
    justify-self: flex-start;
    text-decoration: none;
    color:white;
    font-size: 1.5rem;
    font-weight: bold;
    width: 30%;
  }
  .logo:hover{
    color: #a28834;
  }
  .social-links{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .social-links a {
    margin-left: 2rem;
    color:white;
    font-size: 1.2rem;
    transition: color 0.3s ease;
  }

  .social-links a:hover {
    color: #a28834; /* LinkedIn blue as default hover */
  }

  .social-links a:nth-child(2):hover {
    color: #a28834; /* Instagram pink */
  }
  .page-nav{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
  }

  .page-nav > a{
    width: 5vw;
    height: 100%;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 20px;

  }
  .page-nav > a:hover{
    background-color: rgba(22,0, 0, 0.5);
  }

  @media (max-width: 620px) {
    .portfolio-header{
      padding-right: 1vw;
    }
    .logo{
      width: 10vw;
      font-size: 1em;
    }
    .page-nav{
      width: 21vw;
    }
    .page-nav a{
      width: 7.5vw;
      font-size: 0.6rem;
      padding: 15px;
    }
    .social-links a, i {
      margin-left: 0.5rem;
      font-size:0.8rem;
    }
  }

  #journals{
    height: auto;
    width: 100vw;
    background:
    linear-gradient(rgba(20,0, 0, 0.1),rgba(20,0, 0, 0.1)), url(pictures/IMG_5542.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment:fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10%;
}
#creatives{
  height: auto;
  width: 100vw;
  background:
  linear-gradient(rgba(20,0, 0, 0.1),rgba(20,0, 0, 0.1)), url(pictures/IMG_5394.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment:fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10%;
}
/* ARTICLES */
#articles{
    height: auto;
    width: 100vw;
    background:
    linear-gradient(rgba(20,0, 0, 0.1),rgba(20,0, 0, 0.1)), url(pictures/IMG_5593.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment:fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10%;
}

#article-wrapper{
    width: 80vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
}
.article{
    height: 65vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
    background: rgba(20, 0, 0, 0.5); 
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-between;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);

}
/* .article:hover{
    background: rgba(20, 0, 0, 0.3); 

} */

.article>img{
    width: 35%;
    height: auto;
    background-color: black;
    align-self: center;
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to right, #a28834, #d7cba3) 1;
}
.article-title{
  color: white;
    width: 60%;
    height: 90%;
    /* background-color: #E7F59E40; */
    display:flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content:space-between;
    font-size: 1.2rem;
}
.article-title >h3{
  font-size: 1.5rem;
}
.article-title > a{
  font-size: 1.2rem;
  background-color: #d7cba33b;
  padding: 7px;
  border-radius: 5%;
  text-decoration: none;
  color: #ad9136;
  margin-bottom: 10px;
}
.article-title > a >i{
  color: #ad9136;
  font-size: 1.2rem;
}
.article-title > a:hover{
  box-shadow:0 0 10px 3px white;
}

#topic{
  /* background-image: url(pictures/IMG_5593.jpeg); */
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 25px 10px rgba(0, 0, 0, .8);
  background-size: auto;
  background-position: center;
  align-self: center;
  width: 70vw;
  height: auto;
  margin: 4vw;
  padding: 5vw;
  padding-bottom: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 5rem;
}
#topic > h1{
  margin:0;
  padding:0;
  font-size: 5rem;
}
#topic > h2{
  font-size: 2rem;
  width: 90%;
  overflow-wrap: break-word;
  text-align: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0; top: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .modal-content {
    background: white;
    margin: 10% auto;
    padding: 1rem;
    width: 80%;
    max-width: 800px;
    border-radius: 8px;
  }

  .close {
    float: right;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .glass {
    box-shadow: 0 0 25px 10px rgba(0, 0, 0, .3);
  }
  
  .glass::after {
    background-color: rgba(255, 255, 255, .8);
    bottom: 49.65%;
    content: '';
    filter: blur(10px);
    left: .865%;
    position: absolute;
    right: .865%;
    top: 49.65%;
    transform: rotate(-45deg) skewX(20deg);
    z-index: -1;
  }

  @media (max-width: 620px) {
    body{
      width: 100vw;
    }
    #hello{
      padding-top: 10vh;
      font-size: 2rem;
    }
    h1{
      font-size: 4rem; 
    }
    h2{
      font-size: 5rem; 
    }
    #first-section{
      display: flex;
      flex-direction: column;
    }
    #first-section > img{
      align-self: flex-start;
      width: 60vw;
    }
    #description{
      font-size: 1.4rem;
    }
    .sticky{
      flex-direction:column;
      padding-bottom: 200px;
      overflow-x:hidden;
    }

    .dim{
      min-width: 90vw;
      height: 30vh;
      margin: 5px;
    }

    .horizontal{
      align-self: center;
      width: 100vw;
      height: 100vh;
      flex-direction: column;
      overflow-x:hidden;
    }
    .modal{
      margin-top: 20vh;
    }
    iframe{
      height: 300px;
    }
    #topic{
      margin-bottom: 6vh;
    }
    #topic h1{
      font-size: 4rem;
    }
    #topic h2{
      font-size: 1.5rem;
    }
    .article{
      flex-direction: column;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .article img{
      width: 60%;
    }
    .article-title{
      width: 90%;
    }
  }